<footer class="genoa-footer row small-footer" role="contentinfo"> <div class="footer-blue-bar"></div> <div class="wrapper"> <div class="share"> <a data-element="share-icon"> Share this content </a> <ul> <li> <a href="#" class="twitter" data-element="twitter-link">twitter</a> </li> <li> <a href="#" class="facebook" data-element="facebook-link">facebook</a> </li> <li> <a href="#" class="linkedin" data-element="linkedin-link">linkedin</a> </li> <li> <a href="#" class="google" data-element="google-link">google</a> </li> </ul> </div> <div class="f-left"> <span class="copy" data-element="bbva-copy"> BBVA © 2015 </span> <ul> <li> <a href="https://developers-qa.digitalservices.es/web/api_market/terms-conditions" data-element="bbva-terms-conditions"> Terms and conditions </a> </li> <li> <a href="https://developers-qa.digitalservices.es/web/api_market/legal-policy" data-element="bbva-legaly-policy"> Legal policy </a> </li> <li> <a href="https://developers-qa.digitalservices.es/web/api_market/cookies-policy" data-element="bbva-cookies-policy"> Cookies policy </a> </li> <li> <a href="#" data-element="bbva-contact-us"> Contact us </a> </li> </ul> </div></div> </footer>
</div>


<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="static/main.js"></script>

</body>

</html>