<!DOCTYPE html>
<html>
<head>
    <title>DocFactory</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/main.css' />
</head>
<body>
    <div class="container-fluid">
        <div class="text-center">
            <img src="images/banner.jpg" class="banner-doc_factory" alt="DocFactory">
            <!--
            <h1>DocFactory</h1>
            -->
            <hr>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form method="get" class="form-horizontal" action="/RAML">
                    <div class="form-group">
                        <label for="raml" class="control-label col-sm-3" >RAML</label>
                        <div class="col-sm-9">
                            <input type="text" name="raml" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="control-label col-sm-3">RAML is: </label>
                        <div class="col-sm-9">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="url" id="url_local" value="local">
                                    Local
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="url" id="url_online" value="online">
                                    Online
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="overviewLink" class="control-label col-sm-3" >Overview Link</label>
                        <div class="col-sm-9">
                            <input type="text" name="overviewLink" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apiName" class="control-label col-sm-3" >Api Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="apiName" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="termsLink" class="control-label col-sm-3" >Terms & Conditions Link</label>
                        <div class="col-sm-9">
                            <input type="text" name="termsLink" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="authenticationLink" class="control-label col-sm-3" >Authentication Documentation Link</label>
                        <div class="col-sm-9">
                            <input type="text" name="authenticationLink" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="output" class="control-label col-sm-3">Output: </label>
                        <div class="col-sm-9">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="output" id="output_content" value="content">
                                    Content
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="output" id="output_html" value="html">
                                    HTML
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="output" id="output_raml2html" value="raml2html">
                                    RAML2HTML
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="output" id="output_compiled" value="compiled">
                                    Compiled
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="output" id="output_file" value="file">
                                    File
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit"  class="btn btn-default">GENERATE</button>
                    </div>
                </form>
                <hr>
                <form method="post" class="form-horizontal" action="/" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="apiName" class="control-label col-sm-3" >Api Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="apiName" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="raml" class="control-label col-sm-3" >FILE:</label>
                        <div class="col-sm-9">
                            <input type="file" name="raml" class="form-control">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit"  class="btn btn-default">UPLOAD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>
</html>