.portlet-breadcrumb .breadcrumb {
    margin: 0;
    padding: 0;
    background: transparent;
    color: white;
    display: inline-block;
    list-style: none;
}

.container.api-documentation{
    margin: 0;
    padding: 0;
    width: 100%;
}

.container.api-documentation .api-doc__section>article:first-child {
    margin-top: 241px;
}